#hello{
    border-style: solid double dashed dotted;
    border-radius: 5px ; 
    border-color: red green blue pink;
    border-width: 3px 2px 3px 8px;
}

.hi{
    border: 5px solid green;
    border-radius: 5px;
    outline-style: dotted;
    outline-color: brown;
    outline-width: 3px;
    outline-offset: 2px;
}

.name{
    text-shadow: 2px 2px 3px yellowgreen;
}