<style>
        table,td,th{
            border: 2px solid black tomato;
            border-collapse: collapse;
            width: auto;
            height: auto;
            text-align: center;
        }
        th:hover{
            background-color: black;
            color: white;
        }
        body{
            background-color: aquamarine;
        }
</style>