#white{
    background-color: white;
    background-image: url('https://media.istockphoto.com/id/1140581548/vector/black-ashoka-chakra-symbol-of-national-flag-of-the-republic-of-india-isolated-on-white.jpg?s=612x612&w=0&k=20&c=kcPU7WbJ5Gl2DC8R_YIIFxnfuTz1m60hgUdjEU_NR0Y=');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain ;
    width: 100%;
    height: 100%;
}