h4{
    color: yellow;
    background-color: blue;
    text-align: center;
}

body{
    background-image: url('../../02-Media/assets/Photo.jpg');
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    background-attachment: scroll;
}
